h1 {
  font-size: 32px;
  color: #7189FF;
  font-family: "Lato";
}

header {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 10%;
}

nav {
  font-family: "Lato";
  background-color: #C1CEFE;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 40px;
}

nav a {
  text-decoration: none;
  color: #624CAB;
  font-size: 16px/1.4;
}

h4{
  margin-top: 12px;
  margin-bottom: 12px;
  font-family: "Lato";
  font-size: 16px/1.4;
  font-weight: bold;
  text-transform: uppercase;
}

figcaption {
  font-family: "Lato";
  font-size: 18px/1.4;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

footer {
  font-family: "Lato";
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

p {
  margin-right: 10%;
  margin-bottom: 1%;
}

.main-content {
  width: 960px;
  margin-right: 10%;
  margin-left: 10%;
}

.blog-posts {
  display: flex;
  margin-bottom: 30px;
}

.blog-posts>figure {
  margin-right: 1%;
}

.blog-posts>figure>img {
  width: 240px;
}

.community {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 120px;
}

.community>figure>img {
  width: 192px;
}

footer>img{
  width:100%;
}
