/*------------------------------------------
  SETUP
/------------------------------------------*/
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding: 30px;
}

button {
  background-color: rgb(244,131,155);
  font-family: Helvetica, sans-serif;
  height: 3em;
  border: 3px solid rgb(244,131,155);
  border-radius: 10px;
  transition: all 2s ease-in-out;
}

button:hover{
  background-color: white;
}
